.editor-wrapper {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: center;
}

.todo-list {
    flex: 1 1 auto;
    margin: 1.5em;
}

.todo-editor {
    flex: 4 4 auto;
    margin: 1.5em;
}

.editor-entry {
    padding: 1.5em;
}