.editor-wrapper {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: center;
}

.todo-list {
    flex: 1 1 auto;
    margin: 1.5em;
}

.todo-list-date {
    font-size: 11px;
    font-style: italic;
}

.todo-list-title {
    font-size: 16px;
}

.todo-editor {
    flex: 4 4 auto;
    margin: 1.5em;
}

.editor-entry {
    padding: 0 1em 2em;
}

.dashboard-layout {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: center;
}

.dashboard-card {
    flex: 1 1 auto;
    margin: 1em;

    display: flex;
    flex-flow: column;
}

.dashboard-card-label-title {
    text-align: center;
    color: #009688;
    font-weight: bold;
    font-size: 5vw;
    padding: 0 0.5em 0.7em;

    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center
}